PUBLIC_SITE_URL=https://[REPLACE-WITH-DOMAIN]
AWS_PROFILE=portfolio
AWS_REGION=eu-west-2
S3_BUCKET=[REPLACE-WITH-BUCKET-NAME]
CLOUDFRONT_DISTRIBUTION_ID=[REPLACE-WITH-DISTRIBUTION-ID]
DEPLOY_BRANCH=main
